[tool.poetry]
name = "data_linter"
version = "2.0.1"
description = "data linter"
authors = ["Thomas Hirsch <thomas.hirsch@digital.justice.gov.uk>",
           "George Kelly <george.kelly@digital.justice.gov.uk>",
           "Tapan Perkins <tapan.perkins@digital.justice.gov.uk>",
           "Karik Isichei <karik.isichei@digital.justice.gov.uk>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.7"
dataengineeringutils3 = "^1.0.1"
frictionless = "^3.23.3"
boto3 = "^1.14.7"
jsonschema = "^3.2.0"
pyyaml = "^5.3.1"
iam_builder = "^3.7.0"
importlib-metadata = "^1.7"

[tool.poetry.dev-dependencies]
pytest = "^3.4"
moto = "^1.3"
flake8 = "^3.8.4"
jupyterlab = "^2.2.8"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.poetry.scripts]
data_linter = "data_linter.command_line:main"
